
[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = pypi

[packages]
xoto3 = {path = ".",editable = true}
boto3 = ">=1.9"
typing-extensions = "*"

[dev-packages]
pytest = "~=7.1.0"
mypy = ">=0.790"
pylint = "~=2.7"
pytest-cov = "*"
pytest-xdist = "~=1.34"

[requires]
python_version = "3"
